body {
  overflow-y:hidden !important;
  background-color: #212529;
}

a:hover {
  opacity: 0.8;
}

svg path {
  cursor: pointer;
}

svg path:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 578px) {
  .btn {
    width: 100%;
  }

  .turkey-map {
    display: none !important;
  }

  .header {
    flex-direction: column;
  }

  .cities{
    width: 100%;
  }

  .header select {
    margin-top: 20px;
  }
  
  .weekly{
    flex-direction: column 1!important;
  }
  body{
    overflow-y:auto !important;
  }
}
